body {
    background: linear-gradient(to left, rgb(0, 0, 0), rgb(61, 61, 61));
}
.navmenu{
     border-radius: 0px 0px 20px 20px;
      width: 100%;
       background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 8px 12px 0 rgb(136, 136, 136);
}
.btn{
    border-radius: 0px 0px 20px 20px;
    width: 24.3%;
    height: 80px;
    font-size: 45px;
    margin: 6px 4px 6px 4px;
    cursor: pointer;
    background-color: rgb(34, 34, 34);
    color: rgb(240, 240, 240);
}
.btn:hover{
    background-color: rgb(176, 176, 176);
    color: black;
}
.Ali {
    color: rgb(245, 245, 245);
    font-size: 65px;
    margin-left: 50%;
}
