.ALI {
    background-color: black;
    color: azure;
    font-size: 65px;
}
.menu {
    background-color: aliceblue;
    color: black;
    margin: 10px;
    border: 2px solid rgb(99, 99, 99);
    padding: 10px 20px;
    text-align: center;
}
.menu:hover {
    background-color: black;
    color: aliceblue;
}